/* BookGallery.css */
.book-gallery {
    text-align: center;
    padding: 20px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.book-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.book-card img {
    max-width: 100%;
    height: auto;
}

.book-card h2 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.gallery-title {
    font-family: "Helvetica Neue", Arial, sans-serif;
    /* Choose your desired font */
    font-size: 36px;
    /* Adjust the font size as needed */
    color: #333;
    /* Choose your desired text color */
    text-align: center;
    /* Center the text horizontally */
    padding: 20px;
    /* Add some padding around the text */
    background-color: #f0f0f0;
    /* Add a background color */
    border: 2px solid #333;
    /* Add a border */
    border-radius: 10px;
    /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Add a subtle shadow */
}