body {
  background-image: url('');
    /* Replace with your image file's path */
    background-size: cover;
    /* Adjusts the image size to cover the entire viewport */
    background-repeat: no-repeat;
    /* Prevents image repetition */
    background-attachment: fixed;
    /* Fixes the background in place */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
